[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
djangorestframework = "*"
python-dotenv = "*"
django-progressive-web-app = "*"
django-allauth = "*"
django = "==2.1.5"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"
