.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .middle {
    position: relative;
    text-align: center;
    /* color: white; */
  }


.wrapper {
    position: relative;
    height: 100vh;
}
/* 
.jumbotron {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    
    background-color: black;
    color: whitesmoke;
} */

.extension {
    background-color: black;
    float: left;
    border: white;
    border-style: solid;
    border-width: 2px; 
    padding: 10px;
    font-weight: bold;    
    /* height: 50%; */
    margin-left: 2%;
    color: whitesmoke;

}

.about {

  padding-left: 50%;
  padding-top: 5%;
    

} 
.container {

    font-family: 'Opensans', sans-serif;

}
a {
    color: whitesmoke;
    font-size: 12px;
}
 

nav {
    float: right;
    background-color: black;

}

header {
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
}



h1 {
    font-size: 3em;
    font-family: 'Opensans,' sans-serif;
    text-align: center;
    font-style: italic;
    


} 
.extn-button {
    margin-left:12px;
    margin-bottom: 0;
}

.btn {
  
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
   
  
  }
  
  .btn:hover {background-color: black;
    color: whitesmoke; 
}
  
  .btn:focus {
    background-color:black;
    color: whitesmoke;
   
    
  }
body {

    
    /* background-color:lightgrey; */
    

}  
.button-info {

    margin-top: o;
    margin-left: 0;

}
.vision {

    font-size: 16px;   
    font-family: 'Opensans', sans-serif;  
}

.goal {
    font-size: 19px;
    font-family: Arial;
    color: darkslategrey;
}


.answer{
    background-color: blanchedalmond
}

.redbg {

    background-color: maroon;
    color: whitesmoke;
    
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.right {
    background-color: maroon;
}


.rights {
    background-color: indianred;
}

.name {
    color: black;
}

.greenbg {

    background-color: green;
    color: whitesmoke;
    
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.yellowbg {

    background-color: lightyellow;
    color: black;
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.graybg {

    background-color: gray;
    color: whitesmoke;
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

