{% extends 'base.html' %}

    {% block title %}

        Registration Form - {{ block.super }}
    
    
    {% endblock title %}


    {% block content %}

        <h1>Registration Form</h1>

        <form role="form" action="" method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" />

        <p class="loginmsg">Please click on the extension again after you register to take the screenshot you wish to send. Thank you.</p>
        </form>


    {% endblock content %}