{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<br><br><br>

<body>
 <h1>
MaatJustice combines social media and social activism to 
allow users to report cases of injustice they see online to 
the police and local FBI field offices. Our goal is to increase 
police accountability, repair officer relations with their communities, 
and decrease the length of time it takes for an instance of injustice 
to be seen on social media before a suspect is charged with a crime. 
</h1>
</body>


{% endblock %}


