<!DOCTYPE html>
<html>
{% comment %} {% load pwa %} {% endcomment %}
{% load static %}
{% block title %}
{% endblock title %}

<head>
{% comment %} {% progressive_web_app_meta %} {% endcomment %}
	<title>getJustice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet"href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block header %}

<header>

	<h1>getJustice</h1>	
	<h2 class="kicker">for a better tomorrow for all</h2>

	 <nav>
				<a href="{% url 'home' %}" class="topbar">Home </a>
			    <a href="{% url 'about' %}" >About us</a>      		
			    <a href="{% url 'faq' %}" class="topbar">FAQs</a>
			
				<a href="{% url 'report' %}" class="topbar">Report</a>	
				<a href="{% url 'rights' %}" >Know Your Rights</a>
				<a href="{% url 'reps' %}" class="topbar">Know Your Reps</a>	
		  	
	</nav>

</header>
{% endblock header %}



		
			{% block content %}
<body>

			{% endblock %}
		
		<div> 
			<p>&copy getJustice 2019</p>
			<a href="{% url 'privacy' %}" class="green">Privacy policy</a>&nbsp
			<a href="{% url 'terms' %}" class="green">Terms</a>
		</div>
	
</body>
</html>