<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
<head>
{% progressive_web_app_meta %}
	<title>getJustice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	
<body>

{% block title %}
	<h1>getJustice</h1>	

	<nav>
				<a href="{% url 'home' %}">Home </a>
			    <a href="{% url 'about' %}">About us</a>      		
			    <a href="{% url 'faq' %}">FAQ</a>
			    <a href="{% url 'questions' %}">Questionnaire</a>  		
		  	</div>
		</nav>
{% endblock title %}



		
			{% block content %}

			{% endblock %}
		
		<div> 
			<p>&copy getJustice 2019</p>
			<a href="{% url 'privacy' %}">Privacy policy</a>&nbsp
			<a href="{% url 'terms' %}">Terms</a>
		</div>
	
</body>
</html>