











<div id="hateemail">crimetip@durhamsheriff.org, </div>
<div id="policeemail">Civilian police review board</div>
<div id="injusticeemail">Mayor, Sheriff</div>

<div id="hatesubject">Hate Crime</div>
<div id="policesubject">Police Brutality</div>
<div id="injusticesubject">Civil Injustice</div>

<div id='hatecrime'>
<h3>Dear madam/sir,</h3>
<br>
  <p>A distressing hate crime was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>

<div id="brutalpolice">
<h3>Dear madam/sir,</h3>
<br>
  <p>A disturbing instance of police brutality was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>

<div id="injustice">
<h3>Dear madam/sir,</h3>
<br>
  <p>A serious case of civil injustice was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>