{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<br><br><br>

<body>
<h1>Frequently Asked Questions </h1>

<h2> How do I use getJustice?</h2>
<h3> You can use getJustice by downloading our Chrome Extension
or by visiting our website on your desktop or mobile device. 
</h3>
<h3>
Using our Chrome Extension:
Visit the "download" tab to download our Chrome Extension. While scrolling through Twitter or Facebook, 
if you see a post about an instance of police brutality, a hate crime, or a civil rights violation, 
you can click on the getJustice fist to take a screenshot of the tab you are on and embed that picture 
into your report. A series of questions will pop up which will determine who the report will be sent to.
An email will auto-generate and you will have the option to edit the email text before it is sent.
</h3>
<h3>
Using our website on desktop or mobile:
Visit our website to report instances of police brutality, hate crimes, or civil rights violations. 
Click on the report tab to answer questions, add visual evidence, and edit your report email before it is 
sent. You can also select who the report will go to. 
</h3>

<h2> Who are reports sent to?</h2>
<h3> Reports are sent to various civil rights organizations based on the type
of crime that is selected. These organizations include but are not limited to the NAACP, ACLU and 
the Southern Coalition for Social Justice. You also have the option to search for your state and federal
representatives on our "Know Your Reps" page and include the email address of your representatives
so they also receive your report. 
</h3>

<h2> Can I remain anonymous?</h2>
<h3> Yes, there is an option to remain anonymous. </h3>

<h2> What is the purpose of getJustice?</h2>
<h3> The purpose of getJustice is to increase police accountability, 
decrease the length of time it takes for an instance of injustice 
to be seen on social media before a suspect is charged with a crime, 
and foster a new generation of political activists by providing millenials
with easy access to activate their political power. </h3>

<h2> If I send a report will I get a response?</h2>
<h3> There is a chance that you will receive a response but we can make no
guarantees. Those factors depend on how the organizations you send your reports to 
handle responses and whether you provide a reply-to email.
 </h3>

</body>


{% endblock %}
