<!doctype html>
<html>
{% extends 'core/base.html' %}
{% load pwa %}
{% load static %}

<body>
{% block content %}
<p class="tagline">The injustice/violation you want to report:</h2>


<p id="police">Police brutality?
      <div class="level-item">
        <div class="buttons">
          <button id="ypolice" class="button is-link">Yes</button>
        </div>
      </div></p>
    

<p id="hate">Hate crime? <button id="yhate">Yes</button></p>
<p id="civil">Civil injustice? <button id="ycivil">Yes</button></p>

<div id="modal-div">
 <div id="email-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
      <form id="email-form">
        <div class="field">
          <label class="label" for="email-addresses">Email to</label>
          <div class="control">
            <input class="input" type="text" id="emails" name="email">
          </div>
        </div>
        <div class="field">
          <label class="label" for="Subject">Subject</label>
          <div class="control">
            <input class="input" type="text" id="crime-type" name="subject">
          </div>
        </div>
        <div class="field">
            <label class="label" for="email-text" >Message</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea" id="content" name="content"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button id="send-email" class="button is-link">Send</button>
          </div>
          <div class="control">
            <button id="cancel button" class="button is-text">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
  </div> 

{% endblock content %}
</body>
</html>   

