<!DOCTYPE html>
<html>
{% comment %} {% load pwa %} {% endcomment %}
{% load static %}
{% block title %}
{% endblock title %}

<head>
	{% comment %} {% progressive_web_app_meta %} {% endcomment %}
	<title>getJustice</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet"href="{% static 'css/style.css' %}">

	<!-- bootstrap stuff mess with this-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
</head> 

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <div class="view" style="background-image: url('https://files.slack.com/files-pri/TA8C04VUN-FFGGHTK42/getjusticebackgroundhomeopaque.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

{% block header %}
{% endblock header %}
	<header>
		<img src="/static/GetJusticeFist32.png" id="fistLogo" class="img-responsive pull-left" alt="Responsive image" height= "40"/>
			<nav>
				<ul>
					<li><a href="{% url 'rights' %}">Your Rights</a></li>
					<li><a href="{% url 'faq' %}">FAQs</a></li>
					<li><a href="{% url 'reps' %}">Your Reps</a></li>
				</ul> 
			</nav>	
					<a href="{% url 'home' %}"><h1>getJustice</h1></a> 				
	</header>		
							 
{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

	<div class="container footer navbar-fixed-bottom">		
		<div> 
			<p>&copy getJustice 2019</p>
			<a href="{% url 'privacy' %}" class="green">Privacy policy</a>&nbsp
			<a href="{% url 'terms' %}" class="green">Terms</a>
		</div>

	</div>

</div>
</body>
</html>