{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="container" >
<!-- <div class="DivToScroll DivWithScroll"> -->

<!-- ***list of subjects*** -->
<div id=>
    <h4> What would you like to report?</h4>
    <div>
        <input type="checkbox" id="scales">
        <label for="scales">Hate Crime</label>
    </div>
    <div>
        <input type="checkbox" id="hate-crime">
        <label for="hate-crime">Police Brutality</label>
    </div>
    <div>
        <input type="checkbox" id="civ-rights-violate">
        <label for="civ-rights-violate">Civil Right Violation</label>
    </div>
</div>

<br><br>

<!-- ***list of recipients*** -->
<div id="address-wrapper">
    <h4> Who would you like to send your report to? </h4>
    <p>Optional: deselect any groups you would not like to include in your email</p>
    <div>
        <input type="checkbox"  checked>
        <button id="mayorButton" data-type="mayor@mayor.gov">Mayor of Durham</button>
    </div>
    <div>
        <input type="checkbox" id="splc" checked>
        <label for="splc">Southern Poverty Law Center</label>
    </div>
    <div>
        <input type="checkbox" id="civ-police-board" checked>
        <label for="civ-police-board">Civilian Police Board Review</label>
    </div>
    <div>
        <input type="checkbox" id="scsj" checked>
        <label for="scsj">Southern Coalition for Social Justice</label>
    </div>
    <div>
        <input type="checkbox" id="naacp" checked>
        <label for="naacp">NAACP</label>
    </div>
    <div>
        <input type="checkbox" id="aclu" checked>
        <label for="aclu">ACLU</label>
    </div>
</div>

<!-- don't know what this is -->
<div id="hateCrime" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div>

<div id="policeBrut" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div> 

<div id="civilRights" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div>

<!-- ***report form*** -->
<form id="report-form" method="POST" class="form-group">
        {% csrf_token %} 
    <div class="form-group">
        <input type="text" class="form-control" id="emailAddress" maxlength="500" placeholder="Email Recipients">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="subject" maxlength="500" placeholder="Subject">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="emailBody" maxlength="5000" cols="40" rows="5" placeholder="Additional details about the incident(optional)"></textarea>
    </div>
    <div class="form-group">
        <input type="image" class="form-control-file img-thumbnail" id="new-screenshot" width="384" height="256"  src="#" disabled>
    <label for="exampleFormControlFile1">Image/screenshot</label>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <!-- </div>  -->
</div>
</div>
{% endblock %}


<br><br><br>
