






 




<div id="hateemail">crimetip@durhamsheriff.org, </div>
<div id="policeemail">Civilian police review board</div>
<div id="injusticeemail">Mayor, Sheriff</div>

<div id="hatesubject">Hate Crime</div>
<div id="policesubject">Police Brutality</div>
<div id="injusticesubject">Civil Injustice</div>

<div id='hatecrime'>
<h3>Dear madam/sir,</h3>
<br>
  {{% models.hatecrime %}}
  <p>A distressing hate crime was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>

<div id="brutalpolice">
<h3>Dear madam/sir,</h3>
<br>
  <p>A disturbing instance of police brutality was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>

<div id="injustice">
<h3>Dear madam/sir,</h3>
<br>
  <p>A serious case of civil injustice was brought to my attention today that needs to be addressed by your office. I have included a screenshot with more information about the crime below. I hope and expect that you would take it up and act to prevent this from repeating. I would prefer to remain anonymous in this reporting.</p>
<br>
 <p>sincerely,</p> 
<h3>Concerned Durham Citizen<h3>
</div>

<div id="hate-crime">
<h3>What is a hate crime in NC?>
<p>Although North Carolina Statute 14-3 enhances punishments for misdemeanors, infamous offenses and offenses committed with ethnic animosity it appears to only apply to misdemeanors. Specifically, the law states:
If any Class 2 or Class 3 misdemeanor is committed because of the victim's race, color, religion, nationality, or country of origin, the offender shall be guilty of a Class 1 misdemeanor. If any Class A1 or Class 1 misdemeanor offense is committed because of the victim's race, color, religion, nationality, or country of origin, the offender shall be guilty of a Class H felony. North Carolina also has a statute, 14-401.14, which makes assault based on race, color, religion, nationality, or country of origin a Class 1 misdemeanor.</p>
</div>
<div id="police-brutality">
<h3>What is police brutality></h3>
<p>The Fourth Amendment protects you against unlawful searches and seizures as well as police brutality.  The Fifth and Fourteenth Amendments protect you against deprivations of “due process,” providing the foundation for many claims over wrongful arrests and wrongful convictions.</p>
</div>>
