{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
<div class="line">
</div>
<div class="line-two">
</div>
<div class="container">
  
  
        <a href="https://chrome.google.com/webstore/detail/getjustice/pgfhiopfgohejdoddncmbfpfiffmcpkp"><img src="/static/getJusticeExtension.png" height="50px" width="150px" background-color="black"></a>
    <div class ="report"><a href="{% url 'website_report' %}" class="btn btn-success">Report </a></div>
	          
               
			<br>
      <br>
<div class="text-center">  
     <h3 class="display-4">Frequently Asked Questions</h3>
   </div> 
<br>
<br>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
  
    <h4> How do I use getJustice?</h4>
    <p class="vision"> You can use getJustice by downloading our Chrome Extension or by visiting our website on your desktop or mobile device. 
      </p>
      <br>
      <h4> Who are reports sent to?</h4>
      <p class="vision"> Reports are sent to various civil rights organizations based on the type
      of crime that is selected. These organizations include but are not limited to the NAACP, ACLU and 
      the Southern Coalition for Social Justice. </p>
      <br>

      <h4> Can I remain anonymous?</h4>
      <p> Yes, you are anonymous, unless you want to be identified in your report or want a direct response from the. </p>
      <br>
      <h4> What is the purpose of getJustice?</h4>
      <p class="vision"> The purpose of getJustice is to increase police accountability, 
      decrease the length of time it takes for an instance of injustice 
      to be seen on social media and a suspect is charged with the crime. 
     </p>
      <br>
      <h4> If I send a report will I get a response?</h4>
      <p class="vision"> You could get a response but we can make no guarantees. It depends on how the organizations you send your reports to 
      handle responses and whether you provide a reply-to email.
      </p>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 surround">
        <div class="girl-pic" style="background: url("/static/sepiaBree.png/")">
        <h4 class="goal">
        <br>
        <br>
        <h3> How It Works:</h3>

        <strong>Using our Chrome Extension:
        Click on the getJustice button to download our Chrome Extension. While scrolling through Twitter or Facebook, if you see a post about an instance of police brutality, a hate crime, or a civil rights violation, you can click on the getJustice fist in the extension to take a screenshot of the tab you are on and attach it to your report. A set of questions will pop up which will determine who the report is sent to. An email will auto-generate and you will have the option to edit the email text before it is sent. You also have the option to not send the screenshot.</strong></h4>
        <br>
        <br>
        <h4 class="goal">
        <strong>Using our website on desktop or mobile:  Visit our website to report instances of injustice that disturb you. Click on the report button in our website to answer questions, add visual evidence, and edit your report email before it is sent. You can also select who the report will go to. </strong>
        </h4>
        <br>
        <img src="/static/sepiaBree.png/" class="img-fluid">
        
        <br>
    </div>
  </div>  
</div>
</body>


{% endblock %}
