{% extends 'base.html' %}

{% load static %}

{% block header %}  
{% endblock header %}

{% block content %}


<body>
<div class="line">
</div>
<div class="line-two">
</div>
<div class="container">
        {% include 'messages.html' %}  
      </div>
  <div class="container">      
    <div class= "row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="extension text-center">
        <br>
        <button type="submit" class="extn-button"><img src="/static/getJusticeExtension.png" height="60px" width="200px"></button>
        <br>  
        <br>
        <p class="vision">Download our extension and with just three clicks, report injustice to civil rights groups, the police, and local media without leaving Twitter or Facebook.</p>
        <br>
        <a href="{% url 'website_report' %}" class="btn btn-success">Report </a>
        <br>
        <br>
        <p class="vision">Or report from our site.</p>
        </div>
      </div>   
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="about">
            <div>
            
              <h1 class="display-4">How do I getJustice</h1>                   
            </div>
          <br>
          <br>
            <div class="container main">
             <div class="row">
                <div class="col-lg-5 col-md-45 col-sm-12 col-xs-12">
                  <p class="goal">Decrease the time from an act of injustice seen on social media to a suspect charged with the crime.</p>
                  <p class="goal">We bring pressure through collective action on the police and other authorities to respond quickly and proactively to end such injustice.</p>
              </div>
               <div class="col-lg-5 col-md-45 col-sm-12 col-xs-12">
                  <p class="goal" >Activate your political power. Know your reps and know your rights so you’re always informed.</p>
                  <p class="goal">We will foster a new generation of political activists by providing millenials with easy access to their political power.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>          

{% endblock content %}
{% block footer %}
{% endblock footer %}











