{% extends 'base.html' %}

{% load static %}


            
{% block content %}

<script src="{% static 'js/util.js' %}" defer></script>
<body>  
<div class="line">
</div>
<div class="line-two">
</div>

<div class="container">
        {% include 'messages.html' %}  
      </div>

  <div class="container">      
    <div class= "row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="extension text-center">
        
      
        <br>
        <p class="vision">Report injustice. Add our Chrome extension.</p>
        <a href="https://chrome.google.com/webstore/detail/lpofflhiaihmkcadpgakbdfhbfbkpiod/" class="extn-button"><img src="/static/getJusticeExtension.png" height="60px" width="200px" data-toggle="tooltip" data-placement="right" title="This extension is an attached tool to the chrome browser which allows you to take screenshots of the content of the webpage you are on and send it along with a report to the authorities and civil rights groups."></a>
        <br>
        <br>
        <p>OR</p>
        <br>
        <p class="vision">Report injustice from this website.</p>
        <br>
        {% comment %} <h4><strong>Know about getJustice:</strong></h4> {% endcomment %}
        <a href="{% url 'website_report' %}" class="btn btn-success">Report from this site </a>
        
        
        
        <br>
        
        </div>
      </div>              
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="about">
            <div>
            
              <h1 class="display-6">Get Justice. Get Peace.</h1>                   
            </div>
          
          
            <div class="container main">
             <div class="row">
               
                  <p class="goal">With just three clicks, send reports about acts of injustice to civil rights groups, the police, the local government and local media without leaving your social media page. We bring pressure through collective action on the authorities to respond proactively. We foster a new generation of political activists. </p>
                
                
              </div> 
             <p class="goal" ><strong>Activate your political power.</strong<></p>
        
        
        
              <div class="embed-responsive embed-responsive-16by9">
              <video controls="true" class="embed-responsive-item">
              <source src="static/getJusticeTrailer.mp4" type="video/mp4" width="500" height="205" />
              </video>
              </div>
        

             
            </div>   
          </div> 
        </div>
        
      </div>
    </div>
  </div>         
  <div class="tooltip" role="tooltip">
  <div class="arrow"></div>
  <div class="tooltip-inner"></div>
  </div>
  </body> 
{% endblock content %}
{% block footer %}
{% endblock footer %}











