{% extends 'base.html' %}

{% load static %}

{% block header %}
lkjasd;lkfjas;lkdfja;lskdfj;alksd
{% endblock header %}

{% block content %}
hey
<!-- 
{% if messages %}
  {% for message in messages %}
       <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
  {% endfor %}
{% endif %}

<body>
<div class="container">
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
 <div class="extension">
        
        <br>
        <br>
        <button type="submit" class="btn btn-success">Download getJustice extension</button>
        <br>
        <br>
        <p class="vision">Use our extension to report police brutality, hate crimes and civil rights violations to civil rights groups, your elected representatives and the police without leaving Twitter or Face book in less than 15 seconds.</p>
        <br>
        <br>
        <br>
        <br>
      <a href="{% url 'report' %}" class="btn btn-success">Report </a>
      <br>
      <br>
      <p class="vision">You can also report and upload images from here.</p>
      <br>
      <br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      
      <h1 class="display-2">How do I getJustice</h1>
      <br>
      <br>
      <p class="vision">How often do we see an instance of injustice on social media and feel disturbed, angry and helpless?</p>

<p class="vision">We, at getJustice, want to change that. We are combining social activism and social media to instantly allow users to report cases of hate crime, police brutality and injustice they see online to the elected representatives, the civilian police review board and civil rights groups.</p>

<p class="goal">Our goal is to increase police accountability, decrease the length of time it takes between an instance of injustice being seen on social media and a suspect is charged with a crime, and foster a new generation of political activists by providing millenials with easy access to activate their political power. We wish to bring pressure by collective action on the police and other authorities to respond quickly and act proactively to end such instances of injustice.</p>

<p class="vision">Join with us, report instances, click to send your reports and screenshots directly to the concerned authorities. </p>
      </div>
    </div>

</div>          
   -->
{% endblock content %}
{% block footer %}
{% endblock footer %}











