{% extends 'base.html' %}

{% block content %}
{% load static %}


<body>
<div class="line">
</div>
<div class="line-two">
</div>

<div class="container">
        <a href="https://chrome.google.com/webstore/detail/getjustice/hbhnlgincmfiodjahdbfhmkpmiaffpbb/related"><img src="/static/getJusticeExtension.png" height="50px" width="150px" background-color="black"></a>
    <div class ="report"><a href="{% url 'website_report' %}" class="btn btn-success">Report </a></div>
	          

<div class="container text-center">


<br>
<h4> Coming Soon
</h4>
</div>
</body>


{% endblock %}

