{% extends 'base.html' %}

{% block content %}
{% load static %}


<body>
<div class="line">
</div>
<div class="line-two">
</div>

<div class="container">
        <button type="submit"><img src="https://files.slack.com/files-pri/TA8C04VUN-FFHUJLEBG/getjusticeextension.png" height="50px" width="150px" background-color="black"></button>
    <div class ="report"><a href="{% url 'website_report' %}" class="btn btn-success">Report </a></div>
	          

<div class="container text-center">


<br>
<h4> Find Privacy Policy from similar site and copy wording.
Replace their name with ours. Look into any copyright protection 
</h4>
</div>
</body>


{% endblock %}

