{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
<h3>Know Your Reps</h3>
<p><button type="submit" class="btn btn-success">Download getJustice extension</button></p>
<a href="{% url 'report' %}" class="btn btn-warning">Report </a>     
			<a href="{% url 'rights' %}" class="btn btn-danger">Your rights</a>
      
<br>
<script async src="https://embed.joincampaignzero.org/widget.js" charset="utf-8"></script>
</br>
<h3>Rock the vote</h3>
<a href="https://www.rockthevote.org/register-to-vote/">Voter Registration</a>
</div>

{% endblock content %}
