{% extends 'core/base.html' %}
{% load static %}


{% block title %}

{% endblock title %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{% static 'js/bootstrap.js' %}" defer></script>

{% block header %}

{% endblock header %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

<div class="container text-center">
<h3>Know Your Rights: </h3>
<p><button type="submit" class="btn btn-success">Download getJustice extension</button></p>
<a href="{% url 'report' %}" class="btn btn-danger">Report </a>     
			
      <a href="{% url 'reps' %}" class="btn btn-warning other">Your reps</a>
<br>
<br>
<hr>

 <div class="carousel-item active">
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
    <h3>If You Are Arrested</h3>
        <h4 class="right">Remain Silent</h4>
             <h4 class="right">You have the right to remain silent. The police can use what you say against you. Let them know that you will use your right to remain silent</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3>Stay Calm and Do Not Run</h3>
            <h4 class="right">Use your phone to take photos and notes about the stop, but stay calm and do not run.</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3>Ask to speak with and attorney and think twice before you sign anything </h3>
            <h4 class="right">Don’t sign forms you don’t understand or don’t want to sign. You have the right to speak with an attorney.</h4>
</div>
</div>

<div class="carousel-item">
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
    <h3>If you have experienced police misconduct</h3>
        <h4 class="right">Keep Evidence</h4>
             <h4 class="right">Send a copy of your complaint to the Internal Affairs Division of the law enforcement agency. Be sure to keep a copy for yourself.</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3>Make it known</h3>
            <h4 class="right">Submit your complaint in writing to the chief of police or the head of the law enforcement agency involved.</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3> Contact the Depart of Justice</h3>
            <h4 class="right">If the problem remains unresolved you can file a complaint with the Department of Justice via mail.</h4>
</div>
</div>

<div class="carousel-item">
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
    <h3>Your Civil Rights</h3>
        <h4 class="right">Where they come from</h4>
             <h4 class="right">Most laws guaranteeing and regulating civil rights originate at the federal level, through federal legislation.</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3>Equal Rights for all</h3>
            <h4 class="right">All persons within the jurisdiction of the United States shall have the same right in every State and Territory to make and enforce contracts, to sue, be parties, give evidence, and to the full and equal benefit of all laws and proceedings for the security of persons and property as is enjoyed by white citizens, and shall be subject to like punishment, pains, penalties, taxes, licenses, and exactions of every kind, and to no other. - 42 U.S.C. § 1981</h4>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 redbg">
        <h3> Some laws that created our civil rights</h3>
            <h4 class="right">Age Discrimination Act of 1975, Age Discrimination in Employment Act (ADEA), Americans with Disabilities Act (ADA), Civil Rights Act of 1964, Fair Housing Act (FHA), Section 504 of the Rehabilitation Act of 1973, Voting Rights Act of 1965, Civil rights also come from federal court decisions (such as those handed down by the U.S. Supreme Court, including the landmark Brown v. Board of Education decision).</h4>
</div>
</div>

</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> 
</div>

{% endblock content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


{% block footer %}

{% endblock footer %}
</div>