{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="line">
</div>
<div class="line-two">
</div>
<div class="container">
        <a href="https://chrome.google.com/webstore/detail/lpofflhiaihmkcadpgakbdfhbfbkpiod/"><img src="/static/getJusticeExtension.png" height="50px" width="150px" background-color="black"></a>
    <div class ="report"><a href="{% url 'website_report' %}" class="btn btn-success">Report </a></div>     
<br>
        <div class="container text-center">
<br>
        <h3 class="display-4">Know Your Rights </h3>
<br>
<br>        
<hr>
    <div class="card-columns">
  <div class="card">
    <img class="card-img-top" type="image/png" src="{% static 'ReportingRighs.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">You can report police brutality to the Department of Justice 
</h5>
      <p class="card-text">It is a crime for one or more persons acting under color of law willfully to deprive or conspire to deprive another person of any right protected by the Constitution or laws of the United States. </p>
          <footer class="blockquote-footer">
        <small class="text-muted">(18 U.S.C. §§ 241, 242)
        </small>
      </footer>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>You have the right to file an anonymous report if you are afraid of being contacted by the police. Use www.WeTip.com to file an anonymous report from anywhere in the United States.</p>

    </blockquote>
  </div>
  <div class="card">
    {% comment %} <img class="card-img-top"  alt="Card image cap"> {% endcomment %}
    <div class="card-body">
      <h5 class="card-title">Call the Feds on the Feds</h5>
      <p class="card-text">You can report corrupt activities in state, local, or federal governments or in law enforcement to local FBI field offices.</p>
      {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
    </div>
  </div>
  <div class="card bg-dark text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>“I refuse to accept the view that mankind is so tragically bound to the starless midnight of racism and war that the bright daybreak of peace and brotherhood can never become a reality…. I believe that unarmed truth and unconditional love will have the final word.” </p>
      <footer class="blockquote-footer">
        <small>
          Dr. Martin Luther King Jr.<cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      {% comment %} <h5 class="card-title">5th</h5> {% endcomment %}
      <p class="card-text">The Fifth Amendment gives every person the right to remain silent: not to answer questions asked by a police officer or government agent. You can state that your lawyer will
contact them on your behalf </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" type="image/png" src="{% static 'CivilRights.jpg' %}" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>The First Amendment
protects your right to speak freely and to advocate for social
change. </p>

    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Stay Woke</h5>
      <p class="card-text">
The Fourth Amendment restricts the government’s power to
enter and search your home or workplace.You have the right to talk to a lawyer before you
decide whether to answer questions from law enforcement. </p>
      
    </div>
  </div>
</div>
{% endblock %}
