{% extends 'base.html' %}

{% block content %}
{% load static %}
<br><br><br>

<body>
<div class="container text-center">
<p><button type="submit" class="btn btn-success">Download getJustice extension</button></p>
<a href="{% url 'report' %}" class="btn btn-success">Report </a>     
			<a href="{% url 'rights' %}" class="btn btn-danger">Your rights</a>
      <a href="{% url 'reps' %}" class="btn btn-warning other">Your reps</a>
<br>
<h4> Find Terms from similar site and copy wording.
Replace their name with ours. Look into any copyright protection.
Include disclaimer that we aim to help the justice system but can
make no gaurantees for the outcome of their report. 
</h4>
</div>
</body>


{% endblock %}

