


/* .wrapper {
    position: relative;
    height: 100vh;
} */
.logo {
    margin-left: 5%;
}

.extension {
    background-color: black;
    /* float: left; */
    border: white;
    border-style: solid;
    border-width: 2px; 
    padding: 40px;
    font-weight: bold;    
    /* height: 50%; */
    
    color: whitesmoke;

}
.surround {

    border-style: solid;
    border-width: 2px;
    border-color: darkslategrey;
    padding: 15px;
    
}

.about {

  padding-top: 5%;
  padding-left:5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: darkslategrey;
    

} 
.container {

    font-family: 'Opensans', sans-serif;

}
/* .register {
    float: right;
} */

.log {
    font-size: 14px;
    color: green;

}
.report {
    float: right;
}
a {
    color: whitesmoke;
    font-size: 12px;
}

a.hover{
    color: green;
    font-size: 16px;
}

a.active{
    background-color: black;
    color: white;

}

.navbar-brand {
    margin-left: 35%;
    /* margin-right: 30%; */
    
}
.navbar {
    background-color: black;
}


.move {
    margin-left: 30%;
    
}



.extn-button {
    background-color: black;
}

.form-btn {
  
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
   
  
  }

.active { 
    background-color: black;
    color: whitesmoke;
} 


  
  
.button-info {

    margin-top: 0;
    margin-left: 0;

}
.vision {

    font-size: 16px;   
    font-family: 'Opensans', sans-serif;  
    font-style: bold;
}

.goal {
    font-size: 19px;
    font-family: 'Opensans', sans-serif;
    color: darkslategrey;
}

.main {
    padding-left:50px;
}
.answer{
    background-color: blanchedalmond
}

.redbg {

    background-color: maroon;
    color: whitesmoke;
    padding-left: 40px;
    padding-top: 30px;
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.right {
    background-color: maroon;
}


.rights {
    background-color: indianred;
}

.name {
    color: black;
}

.greenbg {

    background-color: green;
    color: whitesmoke;
  
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.yellowbg {

    background-color: lightyellow;
    color: black;
   
    border-color: ivory;
   
    border-width: 2px;
    border-style: solid;
}

.graybg {

    background-color: gray;
    color: whitesmoke;
   
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}





.card 

{
    background-color: bisque;
}



.bananas {

    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10%;
    max-width: 300px;
    max-height: 500px;

}


.line {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid red;
}

.line-two {
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 2px solid red;
    margin-bottom: 25px;
}