.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .middle {
    position: relative;
    text-align: center;
    /* color: white; */
  }


.wrapper {
    position: relative;
    height: 100vh;
}
/* 
.jumbotron {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    
    background-color: black;
    color: whitesmoke;
} */

.extension {
    background-color: black;
    /* float: left; */
    border: white;
    border-style: solid;
    border-width: 2px; 
    padding: 40px;
    font-weight: bold;    
    /* height: 50%; */
    
    color: whitesmoke;

}
.surround {

    border-style: solid;
    border-width: 2px;
    border-color: darkslategrey;
    padding: 15px;
    
}

.about {


  padding-top: 5%;
  padding-left:5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: darkslategrey;
    

} 
.container {

    font-family: 'Opensans', sans-serif;
    /* border-style: solid;
    
    border-width:2px; */

}
.report {

    float: right;
    
}
a {
    color: whitesmoke;
    font-size: 12px;
}

a.hover{
    color: green;
    font-size: 16px;
}

a.active{
    background-color: black;
    color: white;

}
nav {
    float: right;
    background-color: black;

}

header {
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    
}



h1 {
    
    font-size: 3em;
    font-family: 'Opensans,' sans-serif;
    text-align: center;
    font-style: italic;
    color: whitesmoke;

    
    }


/* .extn-button {
    background-image: url("https://files.slack.com/files-pri/TA8C04VUN-FFHUJLEBG/getjusticeextension.png");
} */

.form-btn {
  
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
   
  
  }

     
  .form-btn:hover {
      background-color: black;
    color: whitesmoke; 
}
  .form-btn:focus {
    background-color:black;
    color: whitesmoke;

    
  }
  .popover {
    background-color: red;
    font-size: 16px;
}
  
.button-info {

    margin-top: 0;
    margin-left: 0;

}
.vision {

    font-size: 16px;   
    font-family: 'Opensans', sans-serif;  
    font-style: bold;
}

.goal {
    font-size: 19px;
    font-family: 'Opensans', sans-serif;
    color: darkslategrey;
}

.main {
    padding-left:50px;
}
.answer{
    background-color: blanchedalmond
}

.redbg {

    background-color: maroon;
    color: whitesmoke;
    padding-left: 40px;
    padding-top: 30px;
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.right {
    background-color: maroon;
}


.rights {
    background-color: indianred;
}

.name {
    color: black;
}

.greenbg {

    background-color: green;
    color: whitesmoke;
    /* padding-left: 40px;
    padding-top: 30px;
    height: 200px;
    width: 400px; */
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}

.yellowbg {

    background-color: lightyellow;
    color: black;
    /* padding-left: 40px;
    padding-top: 30px; */
    border-color: ivory;
    /* height: 200px;
    width: 400px; */
    border-width: 2px;
    border-style: solid;
}

.graybg {

    background-color: gray;
    color: whitesmoke;
    /* padding-left: 40px;
    padding-top: 30px;
    height: 200px;
    width: 400px; */
    border-color: ivory;
    border-width: 2px;
    border-style: solid;
}





.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
}
.bananas {

    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10%;
    max-width: 300px;
    max-height: 500px;

}


.line {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid red;
}

.line-two {
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 2px solid red;
    margin-bottom: 25px;
}