nav {
    float: right;
}

header {

    background-color: darkolivegreen;
    padding: 2rem;


}

.topbar {

    color:blanchedalmond

}

.green {

    color: darkolivegreen;

}
h1 {

    font-family: Impact;
    color:black;
    font-size: 5rem;

}

.kicker {

    font-style: Italic;
    color: moccasin;
    font-size: 1.5rem;

}

.box {

    background-color: darkolivegreen;
    padding: 2rem;


}

body {

    padding: 4rem;

}





